/* Leaderboard Section Styles */
.leaderboard {
    text-align: center;
    padding: 50px 20px;
  }
  
  .view-leaderboard-btn {
    padding: 10px 20px;
    background-color: #00d4ff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .view-leaderboard-btn:hover {
    background-color: #00eaff;
  }
  