<nav class="navbar">
    <div class="logo">
        <a href="#">BattleGrounds</a>
    </div>
    <ul class="nav-links">
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
        <li><a [routerLink]="['/tournaments']" routerLinkActive="router-link-active" >Tournaments</a></li>
        <li><a [routerLink]="['/teams']" routerLinkActive="router-link-active">Teams</a></li>
        <li><a [routerLink]="['/leaderboard']" routerLinkActive="router-link-active">Leaderboard</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
    </ul>
    <div class="auth-buttons">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn-primary">Login</a>
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="btn-secondary">Sign Up</a>
    </div>
</nav>
